Source: ros-fuerte-ecto
Section: misc
Priority: extra
Maintainer: Ethan Rublee <erublee@willowgarage.com>, Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost1.46-all-dev, ros-fuerte-catkin
Homepage: http://ecto.willowgarage.com
Standards-Version: 3.9.2

Package: ros-fuerte-ecto
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost1.46-all-dev
Description: Ecto is a hybrid C++/Python development framework for constructing and maintaining pipelines.
