Source: ros-groovy-ecto
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libboost1.46-all-dev, python-dev, ros-groovy-catkin
Homepage: http://ecto.willowgarage.com
Standards-Version: 3.9.2

Package: ros-groovy-ecto
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost1.46-all-dev, python-dev
Description: Ecto is a hybrid C++/Python development framework for constructing and maintaining pipelines.
