Source: ros-hydro-ecto
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, python-dev, ros-hydro-catkin
Homepage: http://ecto.willowgarage.com
Standards-Version: 3.9.2

Package: ros-hydro-ecto
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, python-dev, python-pyside, xdot
Description: Ecto is a hybrid C++/Python development framework for constructing and maintaining pipelines.
